@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}
*{
    margin: 0px;
    padding: 0px;

}
.root {
    --cor0: #E0D8DE;
    --cor1: #C8B8DB;
    --cor2: #7353BA;
    --cor3: #2F195F;
    --cor4: #0F1020;
}
a.externo::after{
    content: '\00A0🔗';
}
body{
    text-align: justify;
    background-color: #2F195F;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    min-height: 150px ;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, #2f195f, #7453ba8f, #c8b8db81);
}

header > h1{
    color: #E0D8DE;
    font-family:'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
header > p{
    text-align: center;
    color: white;   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
nav{
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: #c8b8db81;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.301);
}
nav > a{
    padding: 10px;
    color:#E0D8DE;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
}
nav >a:hover{
    background-color: #C8B8DB;
    color: #2F195F;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
main h1{
    font-weight: normal;
    font-family: 'android';
    color: #7353BA;
    font-size: 1.8em;
}
main h2{
    font-weight: normal;
    font-family: 'android';
    color: #7353BA;
    background-image: linear-gradient(to right, #2f195f7a, transparent);
    text-indent: 6px;
    font-size: 1.3em;
    
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: #f117bb;
    background-color: #0f1020ce;
    padding: 2px 6px;
  
}
main strong{
    color: #f117bb;
    font-weight: bold;
}
main a:hover{
    text-decoration: underline;
    color: #E0D8DE;
}
.video{
    margin-left: -20px;
    margin-right: -20px;
    background-color: #7353BA;
    margin-bottom: 20px;
    padding:40px;

}
div > iframe{
    display: block;
    margin: auto;
}
aside {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
    background-color: #7453baa1;
    border-radius: 10px;
    padding: 10px;
}
aside > ul {
    list-style-type: '\⚓\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside h3{
    background-color: #2f195f;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer{
    font-size: 0.8em;
    padding: 10px;
    text-align: center;
    background-color:#C8B8DB
}
footer a{
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: #0306af9d
}
main img{
    width: 100%;
}
.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}